/* main */

main .section1 .card-title a {
    font-size: 24px;
}

main .section1 .carte {
    margin: 0 auto;
    width: 92%;
}

main .section1 {
    margin-top: 5%;
}

main .section1 .card {
    border: none;
}

main .section1 img {
    width: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
}

main .section1 .carte {
    border: 1px solid gray;
}

main .section1 .carte button {
    background-color: #32438a;
}

main .section1 .carte p {
    text-align: justify;
}

main .section1 .carte button a {
    color: white;
    text-decoration: none;
}

main .section1 .carte button i {
    margin-right: 10px;
}

main .section2 {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 5%;
}

main .section2 .card {
    border: none;
}

main .section2 .carte {
    width: 82%;
    margin: 0 auto;
    padding-top: 20px;
}

main .section2 .carte img {
    width: 40%;
    margin: 0 auto;
    border-radius: 100%;
}

main .section2 .bouton {
    padding-top: 5%;
    margin: 0 auto;
}

main .section2 button {
    padding: 10px 20px;
    font-size: 18px;
}