main{
    padding-top: 5%;
}
main form{
    margin-top: 3%;
}
main form .connect h1{
    font-size: 36px;
    color: #DE3747;
}

main form .connect h1 a{
    color: #DE3747;
    text-decoration: none;
}

main form h3,p{
    color: #28384d;
}
main form button{
    background-color: var(--bleu-primaire) !important;
}

main form button{
    color: white;
    text-decoration: none;
}

main form .Mdp-Ob a{
    text-decoration: none;
}

main .btnEnvoi i{
    margin-right: 10px;
}



















/* .container{
    padding-left: 600px;
    margin: 70px auto;
    align-items: center;
}
.tall{
    height: 50px;
    color: blue;
}
.taille{
    width:280px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;

}
button{
    background-color: #36858E;
    margin-top: 12px;
}
.mf{
    color: #36858E;
    margin-bottom: 25px;
    font-size: 20px;
}
.ag{
    color: #de3747;
    font-size: 30px;
    margin-top: -30px;
    font-size: 20px;
    height: 25px;
}
.jjjj{
    margin-top: -12px;
    font-size: 20px;
    height: 25px;
}
.pppp{
    margin-top: -2px;
    font-size: 20px;
}
.container2{
    align-items: center;
    transform: translate(-50px);
} */





/* *{
    border: color solid red;
}
.talls{
    width:280px;
    height: 30px;
    margin-bottom: 12px;
    justify-content: center;
    align-items: center;
    margin-left: 630px;
}
.code{
    color:#de3747;
    font-size: 30px;
    margin-left: 630px;
}
.email{
    margin-left: 630px;
    font-size: 20px;
}
.connecter{
    color: #36858E;
    margin-left: 720px;
    font-size: 25px;
}
button{
    background-color: #36858E;
    margin-top: 20px;
}
  */
